.card{
    display:flex;
    flex-direction: column;
    width: 600px;
    height:420px;
    border: 2px solid black;
    margin: 100px auto;
}

.heading{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    border-bottom: 2px solid black;
}

.mid{
    height: 210px;
    display: flex;
    flex-direction: row;
}

.adharNo p{
    margin-top: 15px;
    display: block;
    text-align: center;
    font-size: 2.5rem; 
}

.adharNo{
    height: 70px;
}

.end{
    border-top: 2px solid black;
}